<div class="row">
       
        <div class="col-xs-12">
        <div class="col-xs-5">
            <div  > 
            <a  class="list-group-item clearfix" >
                
                <div class="pull-left" >
                <h4 class="list-gruop-item-heading"> {{serverName}} </h4>
                <p class="list-gruop-item-text">{{serverId}}</p>
                <button class="btn btn-danger" (click)="deletePost()" name="serverDelete">Delete</button>
                <button class="btn btn-primary" type="button" name="serverDetails-view" (click)="detailView()">Detail View</button>
        </div>
        <span class="pull-right">
            <p>{{serverStatus}}</p>        </span>
        
    </a>
</div>
    <hr>

</div>

    </div>
</div>

<div class="container" *ngIf="!detailsView">
    <p>Name: {{elements.name}}</p>
    <p>Memory:{{elements.memory}}</p>
    <p>CPU: {{elements.cpu}}</p>
    <p>Status: {{elements.status}}</p>
    <p>UUID: {{elements.id}}</p>
    
    
</div>

