<div class="row">
       
        <div class="col-xs-12">
        <div class="col-xs-5">
            <div  > 
            <a href='#' class="list-group-item clearfix" >
                
                <div class="pull-left" >
                <h4 class="list-gruop-item-heading"> {{elements.name}} </h4>
                <p class="list-gruop-item-text">{{elements.status}}</p>
                <button class="btn btn-danger">Delete</button>
        </div>
        <span class="pull-right">
            <p>{{elements.cpu}}</p>        </span>
        
    </a>
</div>
    <hr>

</div>

    </div>
</div>
