<div class="row">
    <div class="col-xs-12">
    <form >
        <div class="row">
            <div class="col-sm-5 form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" class="form-control">
                <label for="memory">Memory</label>
                <input type="text" id="memory" class="form-control">
                <label for="cpu">CPU</label>
                <input type="text" id="cpu" class="form-control">
                <label for="status">Status</label>
                <input type="text" id="status" class="form-control">
                <label for="uuid">UUID</label>
                <input type="text" id="uuid" class="form-control">

            </div>
        </div>
        <button class="btn btn-primary">Send Server Details</button>
        <!-- <p> Name: <input ></p> -->
        
    </form>
</div>
</div>
