<div class="row">
    <div class="col-xs-12">
    <div>
        <form >
        <div class="row">
            
            <div class="col-sm-5 form-group">
                <label for="serverName">Name:</label>
                <input type="text" name="server-name" id="serverName" class="form-control" [(ngModel)]="serverName">
                <label for="serverMemory">Memory</label>
                <input type="text" id="serverMemory" name="server-memory" class="form-control" [(ngModel)]="serverMemory">
                <label for="serverCpu">CPU</label>
                <input type="text" id="serverCpu" name="server-cpu" class="form-control" [(ngModel)]="serverCpu">
                <label for="serverStatus">Status</label>
                <input type="text" id="serverStatus" name="server-status" class="form-control" [(ngModel)]="serverStatus"> 
                

            </div>
        </div>
        <button id="addServerBtn" name="addServer"class="btn btn-primary" (click)="serverAdded()">Send Server Details</button>
    </form>

    </div>

 
</div>
</div>
